.account-page {
    padding: 0 1rem 0 1rem;;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.account-page h1 {
    font-size: 2.5rem; 
    color: #333;
    margin: 0;
}

.account-page p {
    font-size: 1.5rem; 
    color: #555;
    margin-bottom: 2rem;
}

.reset-password-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 1rem 1rem; 
    font-size: 1.2rem; 
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reset-password-button:hover {
    background-color: #0056b3;
}

.color-selection {
    margin-top: 2rem;
    text-align: center;
}

.color-selection h3 {
    margin: 0;
    font-size: 2rem; 
    color: #333;
}

.color-options {
    display: flex;
    justify-content: center;
    gap: 1rem; /* Adjusts spacing between color boxes */
    margin-top: 1rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.color-box {
    width: 5vw; /* Scales with viewport width */
    height: 5vw; /* Scales with viewport width */
    max-width: 50px; /* Ensures it doesn't get too large */
    max-height: 50px; /* Ensures it doesn't get too large */
    border: 2px solid transparent;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: transform 0.2s ease, border-color 0.2s ease;
}

.color-box:hover {
    transform: scale(1.1);
    border-color: #ccc;
}

.color-box.selected {
    border: 3px solid #007bff;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:not(:disabled) {
    transition: background-color 0.3s ease;
}

button:not(:disabled):hover {
    background-color: #0056b3;
}

.save-color-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 1rem 2rem; 
    font-size: 1.2rem; 
    border-radius: 0.5rem;
    cursor: pointer;
    margin-top: 2rem;
    transition: background-color 0.3s ease;
}

.save-color-button:hover {
    background-color: #218838;
}

.username-change {
    margin-top: 2rem;
  }
  
  .username-change input {
    padding: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .username-change button {
    padding: 0.5rem 1rem;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .username-change button:not(:disabled) {
    background-color: #007bff;
  }
  
  .username-change button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .username-change button:hover:not(:disabled) {
    background-color: #004494;
  }

  .manage-users-section {
    margin-top: 20px;
  }
  
  .manage-users-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00D0E0;
    color: white;
    text-decoration: none;
    border-radius: 8px;
  }
  
  .manage-users-button:hover {
    background-color: #00B0C0;
  }
  
  .delete-account-section {
    padding-top: 1rem;
}

/* Overlay for Delete Confirmation */
.delete-confirmation-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Dimmed background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.delete-confirmation {
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 20rem; /* Fixed width for the confirmation box */
}

.delete-confirmation input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    width: 100%; /* Full width input */
    margin-bottom: 1rem;
}

.confirm-delete-button,
.cancel-delete-button {
    background-color: #d9534f;
    color: white;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
    width: 100%; /* Match the width of other buttons */
    margin-bottom: 0.5rem;
}

.delete-account-button {
    background-color: #d9534f;
    color: white;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
    width: 100%; /* Match the width of other buttons */
}

.confirm-delete-button:hover {
    background-color: #c9302c;
}

.cancel-delete-button {
    background-color: #6c757d;
}

.cancel-delete-button:hover {
    background-color: #5a6268;
}