/* Root Variables */
:root {
    --midnight-bark: #2e2e2e;
    --translucent-midnight-bark-button: rgba(46, 46, 46, 0.8);
    --translucent-midnight-bark: rgba(46, 46, 46, 0.3);
    --river-teal: #117C88;
    --translucent-river-teal: rgba(17, 124, 136, 0.7);        
    --misty-blue: #B5C7C7;
    --translucent-misty-blue: rgba(181, 199, 199, 0.7);
    --deep-moss: #1D3520;      
    --slate: #545F66;
    --translucent-slate-button: rgba(84, 95, 102, 0.8);     
    --pine-green: #3A6B35;       
    --mudstone: #665544;        
    --earthy-orange: #C67F36;
    --translucent-earthy-orange: rgba(198, 127, 54, 0.3);       
    --minty-moss: #C4DFAA;
    --translucent-minty-moss: rgba(196, 223, 170, 0.5);
}

/* Global Styles */
body {
    line-height: 1.6;
}

/* Chatroom Layout */
.chatroom {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Segoe UI', sans-serif;
    transition: background-color .3s ease;
}

.chatroom.light-mode {
    color: var(--minty-moss);
    background: var(--minty-moss);
}

.chatroom.dark-mode {
    background: #1e1e1e;
    color: #ddd;
}

/* Header */
.chatroom h1 {
    text-align: center;
    margin: 1rem 0 0.5rem;
    font-size: 1.8rem;
    color: var(--midnight-bark);
}

/* Chatroom Main Section */
.chatroom-main {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.left-group {
    flex: 9;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* Toggle Button */
#toggleMode {
    margin: 0 auto 1rem;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

#toggleMode:hover {
    background-color: var(--translucent-midnight-bark-button);
}

.light-mode #toggleMode {
    border: none;
    background-color: var(--slate);
    color: var(--minty-moss);
    text-shadow: var(--midnight-bark) 2px 2px 1px;
}

.light-mode #toggleMode:hover {
    background-color: var(--translucent-slate-button);
}

/* Messages Container */
#messages {
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: inherit;
    transition: background-color 0.3s ease;
    box-sizing: border-box; /* Include padding in the width calculation */

    /* Scrollbar for Firefox */
    scrollbar-color: var(--river-teal) var(--translucent-midnight-bark);
    scrollbar-width: thin;
}

/* Scrollbar for WebKit-based Browsers */
#messages::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

#messages::-webkit-scrollbar-track {
    background: var(--translucent-midnight-bark);
    border-radius: 4px;
}

#messages::-webkit-scrollbar-thumb {
    background: var(--river-teal);
    border-radius: 4px;
}

#messages::-webkit-scrollbar-thumb:hover {
    background: var(--translucent-river-teal);
}

/* User List */
.user-list {
    flex: 2;
    max-width: 20vw;
    background-color: var(--minty-moss);
    border-left: 1px solid var(--translucent-midnight-bark);
    padding: 1rem;
    overflow-y: auto;
    transition: background-color .3s ease;
}

.chatroom.dark-mode .user-list {
    background-color: #1b1b1b;
    border-left: 1px solid #333;
    color: #ccc;
}

.user-list h3 {
    text-align: center;
    border-bottom: 1px solid var(--translucent-midnight-bark);
    padding-bottom: 1rem;
    color: var(--midnight-bark);
}

.user-list ul {
    list-style: none;
    padding-left: 0;
}

.user-list li {
    border-radius: 5px;
    padding: .4rem .6rem;
    margin-bottom: .4rem;
    font-weight: 500;
}

.light-mode .chatroom-main .user-list li {
    background-color: var(--deep-moss);
}

.light-mode .chatroom-main .user-list li:hover {
    background-color: var(--mudstone);
}

.chatroom.dark-mode .user-list li {
    background-color: #282828;
}

.chatroom.dark-mode .user-list li:hover {
    background-color: #3a3f47;
}

/* Highlight the selected user */
.chatroom-main .user-list li.selected {
    background-color: var(--mudstone);
    transition: background-color 0.3s ease;
}

.user-list li.selected:hover {
    background-color: var(--mudstone);
}

/* Message Bubble */
.message-bubble {
    padding: 0.75rem 1rem;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    word-wrap: break-word;
    word-break: break-word;
    line-height: 1.5;
    margin-bottom: 0.75rem; /* Add spacing between messages */
    transition: background-color 0.5s ease;
}

.dark-mode .message-bubble {
    background-color: #282828;
    border-left: 4px solid #555;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.light-mode .message-bubble {
    background-color: var(--deep-moss);
}

.message-bubble.current-user {
    align-self: flex-end; /* Align the message bubble to the right */
    background-color: var(--mudstone); /* Keep the current user's background color */
    border-right: 0.5rem solid var(--river-teal); /* Optional: Add a right border for styling */
    text-align: right; /* Align text inside the bubble to the right */
}

.message-bubble.other-user {
    align-self: flex-start; /* Align the message bubble to the left */
    background-color: var(--deep-moss); /* Keep the other user's background color */
    border-left: 0.5rem solid var(--mudstone); /* Optional: Add a left border for styling */
    text-align: left; /* Align text inside the bubble to the left */
}

/* Adjust the username and timestamp for other-user messages */
.message-bubble.other-user .username {
    order: 0; /* Ensure the username is on the left */
    font-weight: bold; /* Make the username bold */
    margin-right: 0.5rem; /* Add spacing between the username and timestamp */
    text-align: left; /* Align text to the left */
}

.message-bubble.other-user .timestamp {
    order: 1; /* Ensure the timestamp is on the right */
    margin-left: 0.5rem; /* Add spacing between the username and timestamp */
    font-size: 0.8rem; /* Adjust font size for better readability */
    color: var(--translucent-minty-moss); /* Use a subtle color */
}

/* System Message */
.message-bubble.system-message {
    background-color: var(--slate); /* Use a distinct background color */
    border-left: 0.5rem solid var(--earthy-orange);
    border-right: 0.5rem solid var(--earthy-orange);
    max-width: 100%; /* Prevent the message from exceeding the container width */
    box-sizing: border-box; /* Include padding and borders in the width calculation */
    padding: 0.5rem 1rem; /* Add padding for better readability */
    border-radius: 8px; /* Rounded corners */
    font-weight: bold; /* Make the text bold */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
    overflow-wrap: break-word; /* Ensure long words break to fit within the container */
    word-wrap: break-word; /* Compatibility for older browsers */
    word-break: break-word; /* Ensure long words break properly */
}

/* Add a class for fading out */
.system-message.fade-out {
    animation: fadeOut 2s forwards; /* 2s fade-out animation */
    overflow: hidden; /* Prevent content from showing during collapse */
}

/* Message Text */
span.message-text {
    display: flex;
    left: 0;
    margin-left: 1rem;
    justify-content: left;
    justify-items: left;
    text-align: left;
    gap: 0.2rem;
}

.username {
    font-weight: bold;
    margin-bottom: 0.3rem;
    align-items: start;
}

.message-text {
    font-size: 1rem;
}

.light-mode .message-text {
    color: var(--minty-moss);
}

.dark-mode .message-text {
    color: #ddd;
}

/* Timestamp */
.message-bubble.current-user .timestamp {
    order: 1; /* Place the timestamp on the right */
    margin-bottom: 0.5rem; /* Add spacing between the timestamp and message text */
    margin-left: 0.5rem; /* Add spacing between the username and timestamp */
    font-size: 0.8rem; /* Adjust font size for better readability */
    color: var(--translucent-minty-moss); /* Use a subtle color */
}

/* Ensure system messages are unaffected */
.message-line {
    display: flex;
    justify-content: space-between; /* Space out the username and timestamp */
    align-items: center; /* Vertically align the items */
    gap: 0.5rem; /* Add spacing between elements */
    position: relative; /* Ensure proper positioning */
}

/* Adjust the username for current-user messages */
.message-bubble.current-user .username {
    order: 0; /* Ensure the username is on the left */
    font-weight: bold; /* Make the username bold */
    margin-right: 0.5rem; /* Add spacing between the username and timestamp */
    text-align: right; /* Align text to the right */
}

/* Attachments */
.chat-image, .chat-video {
    max-width: 100%;
    border-radius: 8px;
    margin-top: 0.5rem;
}

/* Input Area */
.input-area {
    position: relative;
    display: flex;
    padding: 1rem;
    gap: 0.5rem;
    transition: background-color .3s ease;
}

.light-mode .input-area {
    background-color: var(--mudstone);
    border-top: 1px solid var(--translucent-midnight-bark);
}

.dark-mode .input-area {
    background-color: #2c2c2c;
    border-top: 1px solid #444;
}

.input-area input[type="text"] {
    flex: 1;
    padding: 0.6rem 0.75rem;
    border-radius: 8px;
    border: 1px solid var(--translucent-midnight-bark);
    font-size: 1rem;
}

.dark-mode .input-area input[type="text"] {
    background-color: #1f1f1f;
    border-color: #444;
    color: #eee;
}

.light-mode .input-area input[type="text"] {
    background-color: white;
    border-color: var(--translucent-midnight-bark);
    color: var(--deep-moss);
}

.input-area button {
    font-size: 16px;
    padding: 0.6rem 1rem;
    border: none;
    color: var (--deep-moss);
    background-color: var(--misty-blue);
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.input-area button:hover {
    background-color: var(--translucent-misty-blue);
}

/* Autocomplete Box */
#autocomplete-box {
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    border: 1px solid var(--translucent-midnight-bark);
    border-radius: 6px;
    z-index: 10;
    max-height: 150px;
    overflow-y: auto;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.dark-mode #autocomplete-box {
    background: #2a2a2a;
    color: #eee;
}

.light-mode #autocomplete-box {
    background: var(--translucent-misty-blue);
    border-color: var(--translucent-midnight-bark);
}

.autocomplete-suggestions div {
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.light-mode .autocomplete-suggestions div {
    background-color: var(--translucent-misty-blue);
    color: var(--midnight-bark);
}

.light-mode .autocomplete-suggestions div:hover {
    background-color: var(--midnight-bark);
    color: var(--minty-moss);
}

/* Highlight Styles */
.highlight-file {
    background-color: var(--translucent-river-teal);
    color: var(--river-teal);
    font-weight: bold;
    padding: 0 0.2rem;
    border-radius: 4px;
}

.highlight-link {
    background-color: var(--translucent-minty-moss);
    color: var(--minty-moss);
    text-decoration: none;
    padding: 0 0.2rem;
    border-radius: 4px;
    cursor: pointer;
}

.highlight-link:hover {
    text-decoration: underline;
}

.highlight-mention {
    background-color: var(--translucent-earthy-orange);
    color: var(--earthy-orange);
    font-weight: bold;
    padding: 0 0.2rem;
    border-radius: 4px;
}

/* Custom Highlight Style */
.custom-highlight {
    background-color: var(--translucent-river-teal);
    color: inherit;
    padding: 0;
    border-radius: 0;
    display: inline;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-highlight:hover {
    background-color: var(--river-teal);
    color: white;
}

/* Highlight for hashtags (#) */
.highlight-hashtag {
    background-color: var(--translucent-minty-moss);
    color: var(--minty-moss);
    padding: 0 0.2rem;
    border-radius: 4px;
}

/* Highlight for exclamation points (!) */
.highlight-exclamation {
    background-color: var(--translucent-earthy-orange);
    color: var(--earthy-orange);
    padding: 0 0.2rem;
    border-radius: 4px;
}

/* Highlight for question marks (?) */
.highlight-question {
    background-color: var(--translucent-river-teal);
    color: var(--river-teal);
    padding: 0 0.2rem;
    border-radius: 4px;
}

/* Highlight for periods (.) */
.highlight-period {
    background-color: var(--translucent-midnight-bark);
    color: var(--midnight-bark);
    padding: 0 0.2rem;
    border-radius: 4px;
}

/* Fade Out Animation */
@keyframes fadeOut {
    from {
        opacity: 1;
        height: auto; /* Keep the height during the fade-out */
        margin-bottom: 0.75rem; /* Maintain spacing during fade-out */
        padding: 0.75rem 1rem; /* Maintain padding during fade-out */
    }
    to {
        opacity: 0;
        height: 0; /* Collapse the height */
        margin-bottom: 0; /* Remove spacing */
        padding: 0; /* Remove padding */
    }
}