:root {
    --charcoal: #2e2e2e;    
    --teal: #117C88;        
    --gray-blue: #B5C7C7;        
    --dark-green: #1D3520;      
    --slate: #545F66;      
    --earth-green: #3A6B35;       
    --brown: #665544;        
    --orange: #C67F36;        
    --pale-green: #C4DFAA;        
  }
  
  .test {
    background-color: var(--charcoal);
  }