body {
    margin:0;
    padding:0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    text-align: center;
}

.in-progress {
    margin-top: 100px;
}

h1 {
    color: #ff6347;
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
    color: #555;
}


/* style link for color game temp */
a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }