.user-context-menu {
    position: absolute;
    background: var(--midnight-bark);
    border: 1px solid var(--translucent-minty-moss);
    border-radius: 8px;
    width: 13rem;
    z-index: 9999;
  }
  
  .menu-item {
    padding: 8px 12px;
    cursor: pointer;
    transition: background 0.2s;
    color: var(--minty-moss);
    border-bottom: 1px solid var(--translucent-minty-moss);
  }
  
  .menu-item:hover {
    background: #444;
  }
  
  .cancel {
    border: none;
  }
  